## =====================
## General configurations
## =====================

# Comma seperated profiles, defaults to prod if left empty
QUARKUS_PROFILE=
# Sets the HTML title of the frontend
DAMAP_TITLE="DAMAP Tool"
# Sets the frontends mode, should always be PROD for production environment
# Allowed values:
#   - DEV
#   - PROD
DAMAP_ENV=DEV
# Comma-separated list of allowed browser origins for CORS
QUARKUS_HTTP_CORS_ORIGINS=http://localhost:8085
# Sets the project service used, should be set to elsevier-pure only when pure integration is used
# Allowed values:
#   - default
#   - elsevier-pure
DAMAP_PROJECTS_SERVICE=default
# Text shown  in the frontend to allow users to switch between person services
DAMAP_PERSON_SERVICES_DISPLAY_TEXT=University
# Sets which person service is used
# Allowed values:
#   - UNIVERSITY
#   - PURE
DAMAP_PERSON_SERVICES_QUERY_VALUE=UNIVERSITY
# Which java class is to be used as person service
# Set to org.damap.base.integration.pure.PurePersonService for PURE
# Or to your custom class, if you do use a custom integration
DAMAP_PERSON_SERVICES_CLASS_NAME=org.damap.base.integration.mock.MockUniversityPersonServiceImpl

## =====================
## Authentication
## =====================

# Configures the OIDC realm the DAMAP backend should query to verify authentication
QUARKUS_OIDC_AUTH_SERVER_URL=http://keycloak:8080/realms/damap
# Configures the OIDC URL the frontend should send users to in order to log in. This is typically the same
# as QUARKUS_OIDC_AUTH_SERVER_URL, but may differ if the backend can access the OIDC server over a non-public network
QUARKUS_OIDC_TOKEN_ISSUER=http://localhost:8087/realms/damap
# Client ID as configured in the OIDC Server
QUARKUS_OIDC_CLIENT_ID=damap
# Scopes to request during login
DAMAP_AUTH_SCOPE="openid profile email offline_access microprofile-jwt roles personID"
# The OIDC claim path that will hold your DAMAP roles in the access token
# Also accepts paths, e.g. "realm_access/roles"
DAMAP_AUTH_USER_ROLES_CLAIM_PATH=realm_access/roles
# The OIDC claim to use as a user ID
DAMAP_AUTH_USER_ID_CLAIM=personID
# The OIDC claim that holds the users full name
DAMAP_AUTH_NAME_CLAIM=name
# The OIDC claim that holds the users given name
DAMAP_AUTH_GIVEN_NAME_CLAIM=given_name
# The OIDC claim that holds the users family name
DAMAP_AUTH_FAMILY_NAME_CLAIM=family_name
# The OIDC claim that holds the users email
DAMAP_AUTH_EMAIL_CLAIM=email
# The OIDC claim that holds the users affiliations
DAMAP_AUTH_AFFILIATIONS_CLAIM=affiliation
# Role name used to identify DAMAP super admins
# If DAMAP is locally deployed and the variable is not set to damap-super-admin, ADMIN_ROLE constant in the
# DefaultProfile test profile needs to be changed accordingly, otherwise the tests fail
DAMAP_AUTH_ADMIN_ROLE_NAME='Damap Admin'

## =====================
## Databases
## =====================

# URL of the database
QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://damap-db:5432/damap
# Type of database driver
QUARKUS_DATASOURCE_JDBC_DRIVER=org.postgresql.Driver
# Type of database
QUARKUS_DATASOURCE_DB_KIND=postgresql
# Database username
QUARKUS_DATASOURCE_USERNAME=damap
# Database password
QUARKUS_DATASOURCE_PASSWORD=pw4damap
# Database dialect
QUARKUS_HIBERNATE_ORM_DIALECT=org.hibernate.dialect.PostgreSQLDialect

## =====================
## REST
## =====================

REST_FITS_MP_REST_URL=http://fits-service:8080/fits
REST_GOTENBERG_MP_REST_URL=http://gotenberg:3000


## =====================
## Fields
## =====================

# Enables input field for short ethical report description
DAMAP_FIELDS_ETHICAL_REPORT_ENABLED=true

## =====================
## Elsevier PURE
## =====================

# The following settings map Pure classification URIs to DAMAP properties. Pure classification URIs start with
# /dk/atira/pure, but are otherwise specific to the institutional setup in Pure.

# The project description field DAMAP should use:
DAMAP_ELSEVIER_PURE_DESCRIPTION_CLASSIFICATION=/dk/atira/pure/projectdescription
# How Pure project contributor classifications map to DAMAP:
DAMAP_ELSEVIER_PURE_CONTRIBUTOR_ROLE_CLASSIFICATIONS='{"/dk/atira/pure/member":"PROJECT_MEMBER"}'
# Which Pure classification should be read as the project lead:
DAMAP_ELSEVIER_PURE_PROJECT_LEAD_ROLE_CLASSIFICATION=/dk/atira/pure/projectlead
# Configures if data should be fetched over http or from local files - should always be http for PROD:
# Allowed values:
#   - http
#   - file
DAMAP_ELSEVIER_PURE_BACKEND=http
# URL to fetch data from, only relevant when ELSEVIER_PURE_BACKEND is set to http
DAMAP_ELSEVIER_PURE_ENDPOINT_URL="https://your-pure-instance.elsevierpure.com/ws/api"
# API key used to authenticate over the PURE API, only relevant when ELSEVIER_PURE_BACKEND is set to http
DAMAP_ELSEVIER_PURE_API_KEY="your API key here"
# location of projects file, only relevant when ELSEVIER_PURE_BACKEND is set to file
DAMAP_ELSEVIER_PURE_PROJECTS_FILE="file:///path/to/projects.json"
# location of persons file, only relevant when ELSEVIER_PURE_BACKEND is set to file
DAMAP_ELSEVIER_PURE_PERSONS_FILE="file:///path/to/persons.json"
